* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-attachment: fixed;
    letter-spacing: 1px;
    color: #616161;
    text-decoration: none;
}

header {
    display: flex;
    width: 100%;
    color: #616161;
    margin-bottom: 2%;
    margin-top: 1%;
}

#logomarca {
    display: flex;
    width: 12%;
    margin-left: 1%;
    margin-right: 1%;
}

#logomarca img {
    display: flex;
    margin-left: 1%;
    margin-right: 1%;
    width: 100%;
    bottom: 0%;
    border-radius: 50%;

}

.sup {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 0%;
    margin-left: 0%;

}

.superior {
    display: flex;
    justify-content: center;
}

.redesocial {
    width: 15%;
    justify-content: end;
    text-align: end;
    align-items: flex-end;
    margin-top: 7%;
    margin-right: 1%;
}

h3 {
    padding: 20px;
    color: black;
    font-weight: lighter;
}

.superior {
    display: flex;
    text-align: right;
}

.titulo {
    width: 100%;
    text-align: left;
    margin-left: 20px;
}

.social-icons {
    margin-right: 10px;
    gap: 3rem;
}

body {
    background-image: linear-gradient(to bottom, #B7ED9E, white);
    background-color: #f1f1f1;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.container h2 {
    font-size: 200%;
}


.box {
    width: 200px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    background-color: #0a2506;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.box h3 {
    margin-bottom: 10px;
}

.box p {
    margin-bottom: 20px;
}

.box .btn {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #4CAF50;
    color: #0a290c;
    text-decoration: none;
}

.box .btn:hover {
    background-color: #45a049;
}


footer {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.link {
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #616161;
    font-size: 150%;
    font-weight: lighter;
}

main {
    max-width: 100%;
    min-width: 320px;
    padding: 0%;
    margin: auto;
}

.principal {
    flex-direction: row;
    row-gap: 2%;
    align-items: center;

}

.conteudo {
    display:flex;
    width: 100%;
}



.texto {
    width: 50%;
    padding: 5%;
    font-size: 120%;
}

.form {
    width: 50%;
    font-size: 150%;
    text-align: justify;
    padding: 4%;
}

@media (max-width: 1200px) {
    .conteudo {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .social-icons {
        width: 100%;
        flex-direction: column;
        align-items: center;
        size: 5px;
        gap: 3rem;

    }
}

@media screen and (max-width:600px) {
    .link {
        margin-left: 5%;
        margin-right: 5%;
        font-size: small;
    }
    .redesocial {
        display: none;
    }
}